body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(233, 238, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;  
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(12, 12, 12);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #0e0e0e;
}

#response {
    margin-top: 20px;
}

#responseText {
    font-style: italic;
}
